name: build electron from react web

on:
  push
    
jobs:
  build:
    # Job name is build-electron-from-react-web
    name: build-electron-from-react-web
    # This job runs on Linux
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    steps:
      - name: echo Starting
        run: echo The time is `date`
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Use node
        uses: actions/setup-node@v1
      - name: Show home
        run: echo Home is $HOME and PWD is $GITHUB_WORKSPACE
      - name: Show repo after checkout
        run: ls
      - name: Run yarn to retrieve dependencies
        run: yarn
      - name: Yarn - add capacitor
        run: yarn add @capacitor/core @capacitor/cli
      - name: Initialize capacitor
        run: npx cap init --web-dir "build" "book-package-app" "org.unfoldingword.BookPackageApp"
      - name: Yarn - build
        run: yarn build
      - name: npx cap add electron
        run: npx cap add electron
      - name: show repo after add electron
        run: ls 
      - name: fix electron package.json 
        run: |
          cp ./public/electron-package.json ./electron/package.json
          cp ./public/android-chrome-512x512.png ./electron/splash_assets/splash.png
      - name: fix electron index.html
        run: sed -e "s#/book-package-app/#./#g" < index.html > x && mv x index.html
        working-directory: ./electron/app
      - name: copy index.js to app
        run: cp index.js app
        working-directory: ./electron
      - name: add electron and electron-builder
        run: |
          yarn add electron
          yarn add electron-builder 
        working-directory: ./electron
      - name: Find electron-builder
        run: |
          find . -name electron-builder
          pwd
          ls -al ./electron/node_modules/.bin/elect*
      - name: run electron-builder
        run: $GITHUB_WORKSPACE/$PKG/electron-builder
        working-directory: ./electron
        env:
          PKG: electron/node_modules/.bin
      - name: show platforms
        run: ls ./dist
        working-directory: ./electron
      - name: Done!
        run: echo The time is `date`
