name: build and release electron from react web

on:
  push:
    tags:
      - 'v*' # any push with a tag in semver format
    
jobs:
  build:
    # Job name is build-electron-from-react-web
    name: build-electron-from-react-web
    env:
      VERSION: ${{ echo ${{ github.ref }} | cut -c12- }}

    # This job runs on Linux
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: ubuntu-latest
            artifact_name: book-package-app_${{ VERSION }}_amd64.deb
            asset_name: book-package-app_${{ VERSION }}_amd64.deb
          - os: windows-latest
            artifact_name: "book-package-app Setup ${{ VERSION }}.exe"
            asset_name: "book-package-app Setup ${{ VERSION }}.exe"
          - os: macos-latest
            artifact_name: book-package-app
            asset_name: book-package-app
    
    # steps
    steps:
      - name: Show Env
        run: |
          echo Home is $HOME 
          echo Working Directory is $GITHUB_WORKSPACE
          echo OS is ${{ matrix.os }}
          echo Asset Name is ${{ matrix.asset_name }}
          echo Artifact Name is ${{ matrix.artifact_name }}
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Use node
        uses: actions/setup-node@v1
      - name: Show repo after checkout
        run: ls
      - name: Run yarn to retrieve dependencies
        run: yarn
      - name: Yarn - add capacitor
        run: yarn add @capacitor/core @capacitor/cli
      - name: Initialize capacitor
        run: npx cap init --web-dir "build" "book-package-app" "org.unfoldingword.BookPackageApp"
      - name: Yarn - build
        run: yarn build
      - name: npx cap add electron
        run: npx cap add electron
      - name: show repo after add electron
        run: ls 
      - name: fix electron package.json 
        run: |
          cp ./public/electron-package.json ./electron/package.json
          cp ./public/android-chrome-512x512.png ./electron/splash_assets/splash.png
      - name: fix electron index.html
        run: sed -e "s#/book-package-app/#./#g" < index.html > x && mv x index.html
        working-directory: ./electron/app
        shell: bash
      - name: copy index.js to app
        run: cp index.js app
        working-directory: ./electron
        shell: bash
      - name: add electron and electron-builder
        run: |
          yarn add electron
          yarn add electron-builder 
        working-directory: ./electron
      - name: Find electron-builder
        run: |
          find . -name electron-builder
          pwd
          ls -al ./electron/node_modules/.bin/elect*
        shell: bash
      - name: run electron-builder
        run: $GITHUB_WORKSPACE/$PKG/electron-builder
        working-directory: ./electron
        shell: bash
        env:
          PKG: electron/node_modules/.bin
      - name: show platforms
        run: ls ./dist
        working-directory: ./electron
        shell: bash
      
      - name: Upload Release Assets
        uses: svenstaro/upload-release-action@v1-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: "./electron/dist/${{ matrix.artifact_name }}"
          asset_name: ${{ matrix.asset_name }}
          tag: ${{ github.ref }}
          overwrite: true